<footer class="bg-black text-center  text-lg-start">
    <div class="container p-5 mx-auto">
      <div class="row">
        <div class="col-xl-6 col-md-9 col-sm-12 mb-0 mr-auto">
          <h5 class="text-uppercase text-white fs-3 p-2">About</h5>
          <p class="text-white h5">
            This specially designed employee management system is to help the employees to identify 
            the projects they are in and their personal information 
          </p>
        </div>
  
        <div class="col-xl-6 col-md-9 col-sm-12 mb-0 mr-auto">
          <h5 class="text-uppercase text-white p-2 h3"><i class="bi bi-headset p-2 text-white fs-4"></i><b>Help line</b>
          </h5>
          <ul class="list-unstyled">
            <li class="my-2"><i class="bi bi-telephone ms-5 p-2 text-white fs-5"></i><a class="text-white h4">Contact
                Number :
                6383873641</a></li>
            <li class="my-2"><i class="bi bi-envelope ms-5 p-2 text-white fs-5"></i><a class="text-white h4">Email us :
                EmployeeManagement@gmail.com</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer> 
  
  