<div class="container w-100 p-5">
    <p></p>
    <p></p>
  </div>
<div class="" *ngIf="role=='user'">

<table     class="table table-border border border-dark container align-self-center ">
    <thead class=" bg-secondary ">
        <tr>
          <th scope="col">Project Id</th>
          <th scope="col">Project  Name</th>
          <th scope="col">Domain</th>
          <th scope="col">Budget</th>
          <th scope="col">Assigned</th>
        </tr>
    </thead>
    
    <tbody class="p-10 m-5 " *ngFor="let user of userList  ;index as i ">
        <td>{{user.project_id}}</td>
        <td>{{user.project_name}}</td>
        <td>{{user.domain}}</td>
        <td>{{user.budget}}</td>
        <td>{{user.assigned}}</td>
    </tbody>
 
</table>
</div>
<div class="" *ngIf="role=='admin'">

<table     class="table table-border border border-dark container align-self-center ">
  <thead class=" bg-secondary ">
      <tr>
        <th scope="col">Project Id</th>
        <th scope="col">Project  Name</th>
        <th scope="col">Domain</th>
        <th scope="col">Budget</th>
        <th scope="col">Assigned</th>
      </tr>
  </thead>
  
  <tbody class="p-10 m-5 " *ngFor="let user of adminList  ;index as i ">
      <td>{{user.project_id}}</td>
      <td>{{user.project_name}}</td>
      <td>{{user.domain}}</td>
      <td>{{user.budget}}</td>
      <td>{{user.assigned}}</td>
  </tbody>

</table>
</div>
<div class="container w-25 p-2">
    <p></p>
    <p></p>
  </div>




